:root {
  --brand-color: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
}

/* logo */
.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  line-height: 1.1923;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.1923;
}
.logo-web {
  color: #2196f3;
}

/* nav */
.nav-links {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
}
.nav-links:focus,
.nav-links:hover {
  color: #2196f3;
}
.nav-portfolio {
  color: #2196f3;
}

/* contacts */
.contacts-header {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
}
.contacts-header:focus,
.contacts-header:hover {
  color: #2196f3;
}
.contacts-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
}
.contacts-footer:focus,
.contacts-footer:hover {
  color: #2196f3;
}
.contacts-footer-mail {
  text-decoration: underline;
}
.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428;
}

/* buttons */
.button {
  cursor: pointer;
  border-radius: 4px;
}
.button-main {
  background: #2196f3;
}
.button-main-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.buttons-portfolio {
  background: #f5f4fa;
}
.buttons-portfolio:focus,
.buttons-portfolio:hover {
  background: #2196f3;
}
.buttons-portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}
.buttons-portfolio-text:focus,
.buttons-portfolio-text:hover {
  color: #FFFFFF;
}