:root {
  --brand-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* logo */
.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--brand-color)
}

/* nav */
.nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-links:focus,
.nav-links:hover {
  color: var(--brand-color)
}
.nav-portfolio {
  color: var(--brand-color)
}

/* contacts */
.contacts-header {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts-header:focus,
.contacts-header:hover {
  color: var(--brand-color)
}
.contacts-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contacts-footer:focus,
.contacts-footer:hover {
  color: var(--brand-color)
}
.contacts-footer-mail {
  text-decoration: underline;
}
.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

/* buttons */
.button {
  cursor: pointer;
  border-radius: 4px;
}
.button-main {
  background: var(--brand-color)
}
.button-main-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.buttons-portfolio {
  background: #f5f4fa;
}
.buttons-portfolio:focus,
.buttons-portfolio:hover {
  background: var(--brand-color)
}
.buttons-portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.buttons-portfolio-text:focus,
.buttons-portfolio-text:hover {
  color: #ffffff;
}

/* hero */
.hero-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

/* lorem ipsum */
.lorem-ipsum-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.lorem-ipsum-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* section our team and what we do */
.sections-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-job {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* pictures-section */
.pictures-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.pictures-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
